@charset "utf-8";
/* CSS Document */
head,body
{
	font-family: Verdana;
}
#baner,#stopka
{
	background-color: #5682B4;
	color: white;
	padding: 20px;
	font-size: 120%;
	text-align: center;
}
#lewy
{
	background-color: #50E0D0;
	width: 40%;
	height: 500px;
	float: left;
}
#prawy
{
	background-color: #50E0D0;
	width: 60%;
	height: 500px;
	float: left;
}
#stopka
{
	clear: both;
}
img
{
	margin: 1px;
	padding: 5px;
	border: 1px solid #000080; 
}