body 
{
    font-family: Arial;
}
h5
{
    text-align: center;
}
p
{
    margin-top: 28px;
}
.gorny-lewy 
{
    background-color: #483D8B;
    height: 150px;
    width: 30%;
    float: left;
}
.gorny-prawy 
{
    background-color: #483D8B;
    height: 150px;
    width: 70%;
    float: right;
    color: white;
}
.stopka 
{
    background-color: #483D8B;
    color: white;
    clear: both;
    padding: 10px;
}
.glowny 
{
    clear: both;
}
.gen
{
    background-color: #AFEEEE;
    width: 150px;
    height: 100px;
    margin: 3px;
    border: 1px solid black;
    float: left;
}


















/* Jan Kupczyk */